<% if current_user.id == @user.id %>
<h3>ユーザー名</h3>
<%= @user.username %>
<h3>おすすめの映画</h3>
<p><%= @user.movie_a %></p>
<p><%= @user.movie_b %></p>
<p><%= @user.movie_c %></p>
<%= link_to '編集', edit_user_registration_path %>

<h1>書いたレビュー</h1>
<table>
    <% @user.posts.each do |post| %>
    <tr>
        <th>映画のタイトル</th>
    </tr>
    <tr>
        <td><%= post.title %></td>
    </tr>
    <tr>
        <th>レビュー</th>
    </tr>
    <tr>
        <td><%= post.content %></td>
        <% if user_signed_in? && current_user.id == post.user_id %>
        <td><%= link_to "削除", post_path(post), method: :delete, data: { confirm: "#{post.title}のレビューを削除してもよろしいですか？" } %>
        </td>
        <% end %>
    </tr>
    <% end %>
</table>

<% else %>
<h3>ユーザー名</h3>
<%= @user.username %>
<h3>おすすめの映画</h3>
<p><%= @user.movie_a %></p>
<p><%= @user.movie_b %></p>
<p><%= @user.movie_c %></p>
<a href='#'>チャットする</a>

<h1>書いたレビュー</h1>
<table>
    <% @user.posts.each do |post| %>
    <tr>
        <th>映画のタイトル</th>
    </tr>
    <tr>
        <td><%= post.title %></td>
    </tr>
    <tr>
        <th>レビュー</th>
    </tr>
    <tr>
        <td><%= post.content %></td>
        <% if user_signed_in? && current_user.id == post.user_id %>
        <td><%= link_to "削除", post_path(post), method: :delete, data: { confirm: "#{post.title}のレビューを削除してもよろしいですか？" } %>
        </td>
        <% end %>
    </tr>
    <% end %>
</table>
<% end %>