<div class="user_wrapper">
    <h3>ユーザー名 : <%= @user.username %></h3></br>
    <h3>おすすめの映画</h3>
    <div class="user_wrapper__content">
        <ul class="user_wrapper__content__user_list">
            <% if  @user.movie_a.present? || @user.movie_b.present? || @user.movie_c.present? %>
                <div class="movies">
                    <div class="item"><%= @user.movie_a %></div>
                    <div class="item"><%= @user.movie_b %></div>
                    <div class="item"><%= @user.movie_c %></div>
                </div>
            <% else %>
                <div class="item movies">まだ登録していません。</div>
            <% end %>
        </ul>
    </div>
        <% if user_signed_in? && current_user.id == @user.id %>
            <h3><%= link_to '登録情報の編集', edit_user_registration_path %></h3><br>
        <% elsif  user_signed_in?%>
            <% unless @user.id == current_user.id %>
            <!-- 既にroomが存在していれば既存のroomへ -->
                <% if @isRoom == true %>
                    <h3><%= link_to "チャットルームへGO", room_path(@roomId)%></h3><br>
                <% else %>
                    <!-- roomが存在していなければroomを作成する  -->
                    <%= form_for @room do |f| %>
                        <%= fields_for @entry do |e| %>
                            <%= e.hidden_field :user_id, :value=> @user.id %>
                        <% end %>
                            <h3><%= f.submit "チャットを始める" %></h3><br>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    <h3>
        <span>書いたレビュー</span>
    </h3>
    <div class="user_wrapper__content">
        <ul class="user_wrapper__content__user_list">
            <% @user.posts.each do |post| %>
            <li>
                <div class="user">
                    <div class="user__middle_box">
                        <span>映画のタイトル : <%= post.title %></span></br>
                        <span>レビュー : <%= post.content %></span>
                        <% if user_signed_in? && current_user.id == post.user_id %>
                        <ul class="user__bottom_box__admin_actions">
                            <li>
                                <%= link_to "削除", post_path(post), method: :delete, data: { confirm: "#{post.title}のレビューを削除してもよろしいですか？" } %>
                            </li>
                        <% end %>
                    </div>
                </div>
            </li>
            <% end %>
        </ul>
    </div>
</div>