<div id="account_page" class="account_page">
  <div class="account_page__inner">
    <div class="account_page__inner--left account_page__header">
      <h2>パスワードをお忘れですか？</h2>
    </div>
    <div class="account_page__inner--right user-form">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <div class="field_input">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス' %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "パスワード変更メールを受け取る", class: "btn" %>
        </div>
      <% end %>
    </div>
    <div class="devise_links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>