<header class="header">
  <div class="header__bar">
    <h1>
      <%# ルートパスへのリンクを設置 %>
      <span><%= link_to "Movie Chat", "/posts" %></span>
    </h1>

    <ul class="header__bar__user_nav">
      <li class="user_name">
        <%= search_form_for @search do |f| %>
        <%= f.search_field :title_cont, placeholder: " 映画のタイトル"%>
        <%= f.submit %>
        <% end %>
      </li>
    </ul>
    <%# ログイン状態に応じて表記を変更すること %>
    <% if user_signed_in? %>
    <ul class="header__bar__user_nav">
      <li class="user_name">
        <span><%= link_to current_user.username+"さん", "/users/#{current_user.id}" %></span>
      </li>
      <li class="header__bar__user_nav__btn">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      </li>
      <li class="header__bar__user_nav__btn">
        <%= link_to '新規投稿', new_post_path %>
      </li>
    </ul>
    <% else %>
    <ul class="header__bar__user_nav">
      <li class="header__bar__user_nav__btn">
        <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>
      </li>
      <li class="header__bar__user_nav__btn">
        <%= link_to 'ログイン', new_user_session_path %>
      </li>
      <li class="header__bar__user_nav__btn">
        <%= link_to '新規登録', new_user_registration_path %>
      </li>
    </ul>
    <% end %>
  </div>
</header>