<h1>すべてのレビュー</h1>
<%# <%= link_to 'New Post!', new_post_path %>
<table>
  <% @posts.each do |post| %>
  <tr>
    <th>ユーザー名</th>
  </tr>
  <tr>
    <td><%= link_to(post.user.username, "/users/#{post.user.id}") %></td>
  </tr>
  <tr>
    <th>映画のタイトル</th>
  </tr>
  <tr>
    <td><%= post.title %></td>
  </tr>
  <tr>
    <th align="left">レビュー</th>
  </tr>
  <tr>
    <td><%= post.content %></td>
    <% if user_signed_in? && current_user.id == post.user_id %>
    <td><%= link_to "削除", post_path(post), method: :delete, data: { confirm: "#{post.title}のレビューを削除してもよろしいですか？" } %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>