<h1>レビューを書く</h1>
  <%= form_with model: @post, local: true do |form| %>
  <%= render 'layouts/error_messages', model: form.object %>
    <p>
      <%= form.label :映画のタイトル %><br>
      <%= form.text_field :title %>
    </p>
   
    <p>
      <%= form.label :レビュー %><br>
      <%= form.text_area :content %>
    </p>

    <%= form.hidden_field :user_id, value:current_user.id %> 
   
    <p>
      <%= form.submit "投稿する"%>
    </p>
  <% end %>