<h1>レビューを書く</h1>
  <%= form_with model: @post, local: true do |form| %>
    <p>
      <%= form.label :映画のタイトル %><br>
      <%= form.text_field :title %>
    </p>
   
    <p>
      <%= form.label :レビュー %><br>
      <%= form.text_area :content %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>